
# Virtual Environment

venv/
env/
ENV/
.venv/


# Python cache

__pycache__/
*.pyc
*.pyo
*.pyd

# Django

*.log
db.sqlite3
/media/
/staticfiles/
*.sqlite3



# Environment variables

.env
.env.local
.env.*


.vscode/
.idea/
*.swp
*.swo

# OS files

.DS_Store
Thumbs.db